---
layout: default
---

<div class="posts">
    {% assign posts = site.posts %}
    {% for post in posts %}
    <article class="post">

        {% if post.wiki-url %}
        <h3 class="post-title"><a href="{{ site.wiki-url }}{{ post.wiki-url }}">{{ post.title }}</a></h3>
        {% elsif post.external-url %}
        <h3 class="post-title"><a href="{{ post.external-url }}">{{ post.title }}</a></h3>
        {% else %}
        <h3 class="post-title"><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
        {% endif %}

        <div class="post-text">
            {{ post.content }}
        </div>

        <div style="width: 100%; height: 16px;"></div>
    </article>
    {% endfor %}
</div>
