<!-- Sidebar -->
<h2>Official links:</h2><a href="https://minecraft.net">Minecraft.net</a>
<br><a href="https://blog.omniarchive.uk/archive">Development Blog</a>
<br><a href="https://minecraftshop.com">Merchandise</a>
<br>
<br><a href="https://bugs.mojang.com/browse/MC">Bug tracker</a>
<br><a href="https://help.minecraft.net">Account Support</a>
<br>
<br><b>Try our other games!</b>
<br>
<div style="height:5px; display:block;"></div>
<a href="http://scrolls.com/welcome?utm_source=mcl">
    <img style="border: 0;" src="{{ site.url }}{{ site.baseurl }}/assets/images/scrolls_logo_150.png" alt="Scrolls"/>
</a>
<div style="height:5px; display:block;"></div>
<a href="http://playcobalt.com/?utm_source=mcl">
    <img style="border: 0;" src="{{ site.url }}{{ site.baseurl }}/assets/images/cobalt_logo_150.png" alt="Cobalt"/>
</a>
<h2>Community links:</h2>
<a href="https://minecraftforum.net">Minecraft Forum</a>
<a href="https://minecraft.wiki">Minecraft Wiki</a>
<!-- End Sidebar -->
